@import "mocha.css";

* {
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: alpha(@base, 0.1);
  border: 2px solid alpha(@crust, 0.3);
}
